@{
    ViewData["Title"] = "Home Page";
}

@*
    Home page with a link to the Employees list page
*@
<div class="row">
    <h2><a href="http://localhost:49551/employees/">Employees</a></h2>
    <h2><a href="http://localhost:49551/permissions/">Permissions</a></h2>
</div>
